/* css reset, which which remove the automatic default css styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is my css variables, using css variables will allow for easy global changes for colours that are used multiple times throught the code */
:root {
    --white: #ffffff;
    --lightgrey: #919191;
    --gold: #B5975A;
    --darkblue: #022639;
}

/* general body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    background-color: var(--lightgrey);
}

/* header section - Cynthia Morales */
header div {
    box-shadow: 10px 3px 5px rgba(52, 52, 130, 0.536)
}

header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

header h1 {
    color: var(--gold);
    font-size: 40px;
    font-weight: bold;
    background-color: var(--white);
    padding: 10px;
    border: 5px solid var(--gold);
}

header a {
    text-decoration: none;
    color: var(--gold);
}

/* This is my navigation styling, the menu */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-style: italic;
    background-color: var(--white);
    padding: 10px;
    border: 5px solid var(--gold);
}

header nav ul li a:hover {
    background: var(--gold);
    color: var(--white);
    border-radius: 1px;
}

/* hero section styling */
.hero {
    background-color: var(--darkblue);
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* my profile photo */
.hero img {
    height: 400px;
}

/* A block quote within my hero section */
.hero .quote #moto {
    display: flex;
    justify-content: center;
    text-align: right;
    color: rgb(62, 115, 141);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/* line breaks which divide name and content section */
.name {
    border-right: 5px solid var(--gold);
    min-height: 100%;
    text-align: right;
    padding-right: 30px;
    min-width: 20%;
    max-width: 20%;
}

.name h2 {
    font-style: italic;
    font-size: 30px;
}

/* about me section styling start */
.about {
    display: flex;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.5;
    width: auto;
}

/* my work section styling start */
.work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

.work h2 {
    color: var(--lightgrey);
}

/* portfolio boxes page alignment */
.box-images {
    width: 900%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

/* portfolio boxes using a grid style */
.boxes {
    width: 70%;
    gap: 20px;
    display: grid;
}

/* portfolio image settings */
.grid-hq {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("https://www.gridhq.ca/wp-content/uploads/2018/07/grid-service-hero.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nu-life {
    background-image: url("https://nulifewellness.ca/wp-content/uploads/2018/12/home-head-2.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.master-refactor {
    background-image: url("https://cynthiamory.github.io/cynthias-master-refactor/assets/images/digital-marketing-meeting.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.realtor-site {
    background-image: url("https://jonathangorenstein.com/wp-content/uploads/2022/12/HOME-page-banner-pic-1024x683.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.z5-courts {
    background-image: url("https://z5courts.com/wp-content/uploads/2021/02/ABOUT-badminton-p44-980x653.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* title headings and sub-heading for my boxes */
.work-source {
    background-color: var(--darkblue);
    color: var(--white);
    padding: 10px;
}
.work-source p {
    color: var(--gold);

}
/* footer section containing my contact and social links using icons */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
}

.contact {
    width: 60%;
}

/* list styling */
footer ul {
    list-style: none;
    display: inline-flex;
}

/* icon styling */
footer ul li a img {
        height: 64px;
        max-width: 100%;
        padding: 8px;
        align-content: center;
        justify-content: space-evenly;
}

/* Media Query settings for a responsive webpage for max 600px */
@media screen and (max-width: 600px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header h1 {
        font-size: 20px;
        padding: 10px;
        padding-bottom: 15px;
        border: 3px solid
    }
    header nav ul li a {
        min-height: 64px;
        padding: 8px;
        font-size: 18px;
        margin: 20px 20px 0 0;
        padding: 10px;
        border: 3px solid 
    }

    .hero {
        flex-direction: row;
    }

    .hero .quote #moto {
        justify-content: center;
        text-align: center;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .name {
        border-bottom: 3px solid var(--gold);
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .about p {
        font-size: 14px;
        width: 100%;
        padding: 10px;
        text-align: center
        ;
    }

    .work {
        flex-direction: column;
        padding: 10px 0;
    }

    .box-images {
        width: auto;
        height: auto;
        padding: 15px 0;
    }
    
    .boxes {
        width: auto;
        height: 100%;
    }
    
    footer {
        flex-direction: row;
    }

    .contact-links {
        width: 100%;
    }

    footer ul li a {
        flex-direction: row;
        padding: 15px;
        justify-content: center;
        height: auto;
        max-width: 30px;
    }
    
}
